/*<meta />*/

body
{
	color: #404040;
	font-family: Arial, Avenir, Myriad;
	font-size: .9em;
	line-height: 1.7em;
}

a:link
{
	color: #2D8DCC;
}

a:visited
{
	color: #2D8DCC;
}

a:hover
{
	color: #2d8dcc;
}

a:active
{
	color: #2D8DCC;
}

a.MCBreadcrumbsLink
{
	font-style: italic;
	text-decoration: underline;
}

a.MCBreadcrumbsLink:hover
{
	color: #2d8dcc;
}

div.TopicContent
{
	padding-left: 15px;
	padding-right: 15px;
}

h1
{
	padding-bottom: 10px;
	margin-top: 30px;
	border-bottom-style: solid;
	border-color: #000000;
	font-weight: bold;
	border-width: 2px;
	margin-left: 0;
	margin-bottom: 5px;
	border: none 2px #000000;
	color: #1d93d4;
	font-size: 24pt;
}

h2
{
	border-top: none;
	font-family: Arial;
	font-weight: bold;
	margin-bottom: 4px;
	font-size: 13pt;
	color: #1d93d4;
	border-bottom: solid 1px #000000;
	margin-top: 30px;
}

h3
{
	margin-bottom: 4px;
	margin-top: 16px;
	font-size: 11pt;
	color: #1d93d4;
}

h4
{
	margin-bottom: 4px;
	margin-top: 12px;
	color: #1d93d4;
}

li
{
	margin-bottom: 6px;
	margin-top: 6px;
	font-family: Arial;
	font-size: 11pt;
}

MadCap|breadcrumbsProxy
{
	border-bottom: none;
	font-size: .7em;
	font-style: normal;
	mc-breadcrumbs-prefix: 'Location: ';
}

MadCap|conceptLink
{
	color: #404040;
	font-size: 0.8em;
	font-weight: bold;
	mc-image: url('../Images/ListIcon.png');
	mc-label: 'SEE ALSO';
	padding-top: 8px;
	text-decoration: none;
}

MadCap|conceptLink:hover
{
	font-weight: bold;
	color: #2d8dcc;
}

MadCap|xref
{
	color: #2D8DCC;
	mc-format: '{para}';
	text-decoration: underline;
	font-weight: normal;
}

MadCap|xref:hover
{
	color: #6495ed;
}

ol,
ul
{
	margin-top: 0;
	margin-bottom: 0;
	font-size: 10pt;
}

p
{
	margin-bottom: 8px;
	margin-top: 8px;
	font-size: 11pt;
	font-family: Arial;
}

p.toptable
{
	margin-top: 0pt;
	margin-bottom: 0pt;
	color: #ffffff;
	font-size: 11pt;
}

td
{
	margin: 8px;
	vertical-align: top;
}

th
{
	color: #ffffff;
}

p.Note
{
	border-radius: 7px;
	background-repeat: no-repeat;
	background-position: 4px 4px;
	background-color: #f5f5dc;
	min-height: 35px;
	mc-auto-number-format: '{b}Note: {/b}';
	mc-printer-page-size: a4;
	background-image: url('../Images/note28.png');
	padding-left: 40px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 8px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
}

div.Note
{
	border: solid 1px #000000;
	border-radius: 7px;
	padding: 3px;
	background-repeat: no-repeat;
	padding-left: 40px;
	background-position: 4px 4px;
	background-color: #f5f5dc;
	min-height: 35px;
	background-image: url('../Images/note28.png');
}

div.Note p:first-child
{
	margin-top: 0;
}

td.TableNote	/*Label for a note table*/
{
	margin: 8px;
	font-weight: bold;
	list-style-image: none;
}

li.Bulleted
{
	
}

sub.testsubstep
{
	
}

ul.Indent_step_bullet_ul_based	/*attempt to get nested bullets*/
{
	padding-left: 60px;
}

ul.Indent_step_bullet_ul_based > li > ul
{
	list-style-type: disc;
}

ul.Note
{
	list-style-image: url('../Images/note_1.png');
	color: #ff0047;
	height: 0px;
}

p.Keypoint
{
	font-weight: bold;
	font-size: 10pt;
}

ol ol
{
	list-style-type: lower-alpha;
}

ol ul
{
	list-style-type: circle;
}

img
{
	max-width: 100%;
}

img.Screen_Thumbnail
{
	mc-thumbnail: popup;
}

MadCap|dropDownBody
{
	font-size: 11pt;
}

table
{
	width: 100%;
}

MadCap|glossaryTerm.Expanding
{
	color: #1e90ff;
}

MadCap|glossaryTerm.Hyperlink
{
	color: #1e90ff;
}

MadCap|glossaryTerm.Popup
{
	color: #1e90ff;
}

MadCap|glossaryTerm
{
	color: #6495ed;
}

p.Hint
{
	border: solid 1px #000000;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	border-radius: 7px;
	padding-right: 40px;
	padding: 3px;
	padding-left: 40px;
	background-image: url('../Images/note28.png');
	background-repeat: no-repeat;
	mc-auto-number-format: '{b}Hint: {/b}';
	background-position: 4px 4px;
	margin-bottom: 8px;
	background-color: #faea86;
	padding-bottom: 8px;
}

p.ListIntro
{
	page-break-after: avoid;
}

div.RespLayoutNewRowClass1	/*This is a custom responsive layout row style (div class) in your stylesheet. To provide your own description for this style: (1) Open the stylesheet; (2) Find and select the div class with this name; and (3) In the Comment field, replace this text with your own. For more information on adding comments to styles, see the online Help.*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

div.RespLayoutNewRowClass1::before
{
	content: ' ';
	display: table;
}

div.RespLayoutNewRowClass1::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.RespLayoutNewRowClass1 > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div.RespLayoutNewRowClass1 > div:nth-child(1)
{
	width: 25%;
	margin-left: 0%;
}

div.RespLayoutNewRowClass1 > div:nth-child(2)
{
	width: 25%;
	margin-left: 0%;
}

div.RespLayoutNewRowClass1 > div:nth-child(3)
{
	width: 25%;
	margin-left: 0%;
}

code
{
	background-color: #f5f5f5;
	font-family: Inconsolata;
	font-size: 12pt;
}

div.RespLayoutNewRowClass2	/*This is a custom responsive layout row style (div class) in your stylesheet. To provide your own description for this style: (1) Open the stylesheet; (2) Find and select the div class with this name; and (3) In the Comment field, replace this text with your own. For more information on adding comments to styles, see the online Help.*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

div.RespLayoutNewRowClass2::before
{
	content: ' ';
	display: table;
}

div.RespLayoutNewRowClass2::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.RespLayoutNewRowClass2 > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div.RespLayoutNewRowClass2 > div:nth-child(1)
{
	width: 25%;
	margin-left: 0%;
}

div.RespLayoutNewRowClass2 > div:nth-child(2)
{
	width: 50%;
	margin-left: 0%;
}

div.RespLayoutNewRowClass3	/*This is a custom responsive layout row style (div class) in your stylesheet. To provide your own description for this style: (1) Open the stylesheet; (2) Find and select the div class with this name; and (3) In the Comment field, replace this text with your own. For more information on adding comments to styles, see the online Help.*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

div.RespLayoutNewRowClass3::before
{
	content: ' ';
	display: table;
}

div.RespLayoutNewRowClass3::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.RespLayoutNewRowClass3 > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div.RespLayoutNewRowClass3 > div:nth-child(1)
{
	width: 33.33333%;
	margin-left: 0%;
}

div.RespLayoutNewRowClass3 > div:nth-child(2)
{
	width: 33.33333%;
	margin-left: 0%;
}

div.RespLayoutNewRowClass3 > div:nth-child(3)
{
	width: 33.33333%;
	margin-left: 0%;
}

div.RespLayoutNewRowClass4	/*This is a custom responsive layout row style (div class) in your stylesheet. To provide your own description for this style: (1) Open the stylesheet; (2) Find and select the div class with this name; and (3) In the Comment field, replace this text with your own. For more information on adding comments to styles, see the online Help.*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

div.RespLayoutNewRowClass4::before
{
	content: ' ';
	display: table;
}

div.RespLayoutNewRowClass4::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.RespLayoutNewRowClass4 > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div.RespLayoutNewRowClass4 > div:nth-child(1)
{
	width: 33.33333%;
	margin-left: 0%;
}

div.RespLayoutNewRowClass4 > div:nth-child(2)
{
	width: 33.33333%;
	margin-left: 0%;
}

div.RespLayoutNewRowClass4 > div:nth-child(3)
{
	width: 33.33333%;
	margin-left: 0%;
}

MadCap|glossaryTerm:hover
{
	mc-open-image: none;
	mc-closed-image: none;
}

MadCap|dropDown
{
	font-size: 11pt;
}

MadCap|dropDownHead
{
	font-size: 11pt;
}

MadCap|qrCode
{
	font-family: Arial;
}

div.GlossaryPageHeading
{
	font-size: 20pt;
}

div.RespLayoutNewRowClass7	/*This is a custom responsive layout row style (div class) in your stylesheet. To provide your own description for this style: (1) Open the stylesheet; (2) Find and select the div class with this name; and (3) In the Comment field, replace this text with your own. For more information on adding comments to styles, see the online Help.*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

div.RespLayoutNewRowClass7::before
{
	content: ' ';
	display: table;
}

div.RespLayoutNewRowClass7::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.RespLayoutNewRowClass7 > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 0px;
	padding-right: 0px;
}

div.RespLayoutNewRowClass7 > div:nth-child(1)
{
	margin-left: 0%;
	width: 13.3333%;
	margin-top: 0px;
	margin-bottom: -5px;
}

div.RespLayoutNewRowClass7 > div:nth-child(2)
{
	margin-left: 0%;
	width: 13.3333%;
	margin-bottom: -5px;
	margin-top: 0px;
}

div.RespLayoutNewRowClass7 > div:nth-child(3)
{
	width: 16.667%;
	margin-left: 0%;
	margin-bottom: -5px;
}

div.RespLayoutNewRowClass7 > div:nth-child(4)
{
	margin-left: 0%;
	width: 13.3333%;
	margin-bottom: -5px;
}

div.RespLayoutNewRowClass7 > div:nth-child(5)
{
	margin-left: 0%;
	width: 13.3333%;
	margin-bottom: -5px;
}

div.RespLayoutNewRowClass7 > div:nth-child(6)
{
	margin-left: 0%;
	width: 13.3333%;
	margin-bottom: -5px;
}

div.RespLayoutNewRowClass7 > div:nth-child(7)
{
	margin-left: 0%;
	width: 13.3333%;
	margin-bottom: -5px;
}

div.RespLayoutNewRowClass8	/*This is a custom responsive layout row style (div class) in your stylesheet. To provide your own description for this style: (1) Open the stylesheet; (2) Find and select the div class with this name; and (3) In the Comment field, replace this text with your own. For more information on adding comments to styles, see the online Help.*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

div.RespLayoutNewRowClass8::before
{
	content: ' ';
	display: table;
}

div.RespLayoutNewRowClass8::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.RespLayoutNewRowClass8 > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div.RespLayoutNewRowClass8 > div:nth-child(1)
{
	width: 33.33333%;
	margin-left: 0%;
}

div.RespLayoutNewRowClass8 > div:nth-child(2)
{
	width: 33.33333%;
	margin-left: 0%;
}

div.RespLayoutNewRowClass8 > div:nth-child(3)
{
	width: 33.33333%;
	margin-left: 0%;
}

div.RespLayoutNewRowClass7 > div:nth-child(8)
{
	margin-left: 0%;
	width: 13.3333%;
}

@media print
{
	p.Note
	{
		height: 35px;
		mc-auto-number-format: '{b}Note:{/b} ';
		background-color: #fff8dc;
		border-bottom-color: #000000;
		border: solid 1px #000000;
		mc-auto-number-offset: 15px;
		mc-printer-page-size: a4;
	}

	div.Note
	{
		background-color: #fff8dc;
		border: solid 1px #000000;
	}

	p.numbered
	{
		background-color: #6947e4;
		mc-auto-number-format: '{b}test{/b}';
	}

	h1
	{
		
	}

	h2
	{
		
	}

	h3
	{
		
	}

	p.Hint
	{
		height: 35px;
		border-bottom-color: #000000;
		border: solid 1px #000000;
		mc-auto-number-offset: 15px;
		mc-printer-page-size: a4;
		mc-auto-number-format: '{b}Hint:{/b} ';
		background-color: #faebd7;
	}

	tr
	{
		page-break-inside: avoid;
	}

	p.ListIntro
	{
		
	}
}

td.TableGeneral
{
	border: solid 1px #000000;
}

p.Authoring_note
{
	margin-bottom: 8px;
	margin-top: 8px;
	font-size: 11pt;
	font-family: Arial;
	color: #d41e2e;
	text-decoration: underline;
}

p.Caution
{
	border: solid 1px #000000;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	border-radius: 7px;
	padding-right: 40px;
	padding: 3px;
	padding-left: 40px;
	background-image: url('../Images/note28.png');
	background-repeat: no-repeat;
	background-position: 4px 4px;
	margin-bottom: 8px;
	padding-bottom: 8px;
	background-color: #ffa07a;
	mc-auto-number-format: '{b}Caution: {/b}';
}

p.Warning
{
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	border-radius: 7px;
	padding-right: 40px;
	padding: 3px;
	background-repeat: no-repeat;
	background-position: 4px 4px;
	margin-bottom: 8px;
	padding-bottom: 8px;
	mc-auto-number-format: '{b}Warning: {/b}';
	background-color: #ffe4e1;
	color: #ff0000;
	border: solid 1px #ff0000;
	font-weight: 500;
	padding-left: 40px;
	background-image: url('../Images/warning_traiangle.png');
}

div.sideContent
{
	float: right;
	margin-bottom: 10px;
	margin-left: 10px;
	width: 33.33%;
}

@media tablet
{
	div.RespLayoutNewRowClass3 > div:nth-child(1)
	{
		width: 33.33333%;
		margin-left: 0%;
	}

	div.RespLayoutNewRowClass3 > div:nth-child(2)
	{
		width: 33.33333%;
		margin-left: 0%;
	}

	div.RespLayoutNewRowClass3 > div:nth-child(3)
	{
		width: 33.33333%;
		margin-left: 0%;
	}

	div.RespLayoutNewRowClass4 > div:nth-child(1)
	{
		width: 33.33333%;
		margin-left: 0%;
	}

	div.RespLayoutNewRowClass4 > div:nth-child(2)
	{
		width: 33.33333%;
		margin-left: 0%;
	}

	div.RespLayoutNewRowClass4 > div:nth-child(3)
	{
		width: 33.33333%;
		margin-left: 0%;
	}

	div.RespLayoutNewRowClass7 > div:nth-child(1)
	{
		width: 33.33333%;
		margin-left: 0%;
	}

	div.RespLayoutNewRowClass7 > div:nth-child(2)
	{
		width: 33.33333%;
		margin-left: 0%;
	}

	div.RespLayoutNewRowClass7 > div:nth-child(3)
	{
		width: 33.33333%;
		margin-left: 0%;
	}

	div.RespLayoutNewRowClass7 > div:nth-child(4)
	{
		width: 8.3333%;
		margin-left: 0%;
	}

	div.RespLayoutNewRowClass7 > div:nth-child(5)
	{
		width: 8.3333%;
		margin-left: 0%;
	}

	div.RespLayoutNewRowClass7 > div:nth-child(6)
	{
		width: 8.3333%;
		margin-left: 0%;
	}

	div.RespLayoutNewRowClass7 > div:nth-child(7)
	{
		width: 8.3333%;
		margin-left: 0%;
	}

	div.RespLayoutNewRowClass8 > div:nth-child(1)
	{
		width: 33.33333%;
		margin-left: 0%;
	}

	div.RespLayoutNewRowClass8 > div:nth-child(2)
	{
		width: 33.33333%;
		margin-left: 0%;
	}

	div.RespLayoutNewRowClass8 > div:nth-child(3)
	{
		width: 33.33333%;
		margin-left: 0%;
	}

	div.RespLayoutNewRowClass7 > div:nth-child(8)
	{
		width: 8.3333%;
		margin-left: 0%;
	}
}

@media mobile
{
	div.RespLayoutNewRowClass1 > div:nth-child(1)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.RespLayoutNewRowClass1 > div:nth-child(2)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.RespLayoutNewRowClass1 > div:nth-child(3)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.RespLayoutNewRowClass2 > div:nth-child(1)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.RespLayoutNewRowClass2 > div:nth-child(2)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.RespLayoutNewRowClass3 > div:nth-child(1)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.RespLayoutNewRowClass3 > div:nth-child(2)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.RespLayoutNewRowClass3 > div:nth-child(3)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.RespLayoutNewRowClass4 > div:nth-child(1)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.RespLayoutNewRowClass4 > div:nth-child(2)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.RespLayoutNewRowClass4 > div:nth-child(3)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.RespLayoutNewRowClass7 > div:nth-child(1)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.RespLayoutNewRowClass7 > div:nth-child(2)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.RespLayoutNewRowClass7 > div:nth-child(3)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.RespLayoutNewRowClass7 > div:nth-child(4)
	{
		width: 8.3333%;
		margin-left: 0%;
	}

	div.RespLayoutNewRowClass7 > div:nth-child(5)
	{
		width: 8.3333%;
		margin-left: 0%;
	}

	div.RespLayoutNewRowClass7 > div:nth-child(6)
	{
		width: 8.3333%;
		margin-left: 0%;
	}

	div.RespLayoutNewRowClass7 > div:nth-child(7)
	{
		width: 8.3333%;
		margin-left: 0%;
	}

	div.RespLayoutNewRowClass8 > div:nth-child(1)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.RespLayoutNewRowClass8 > div:nth-child(2)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.RespLayoutNewRowClass8 > div:nth-child(3)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.RespLayoutNewRowClass7 > div:nth-child(8)
	{
		width: 8.3333%;
		margin-left: 0%;
	}
}

p.Note2
{
	border-radius: 7px;
	background-repeat: no-repeat;
	background-position: 4px 4px;
	min-height: 35px;
	mc-auto-number-format: '{b}Note: {/b}';
	mc-printer-page-size: a4;
	padding-left: 40px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 8px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	background-image: url('../Images/IMG_note_page.png');
}

pre
{
	
}

pre.code
{
	background-color: #f5f5f5;
	font-family: Inconsolata;
	font-size: 12pt;
}

p.Hint2
{
	border-radius: 7px;
	background-repeat: no-repeat;
	mc-auto-number-format: '{b}Hint: {/b}';
	background-position: 4px 4px;
	margin-bottom: 8px;
	background-color: #ffffff;
	padding-left: 40px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 8px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	background-image: url('../Images/IMG_hint_bulb.png');
}

img.NoResize
{
	max-width: 100%;
}

p.Edit2
{
	border-radius: 7px;
	background-repeat: no-repeat;
	background-position: 4px 4px;
	min-height: 35px;
	mc-printer-page-size: a4;
	padding-left: 40px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 8px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	mc-auto-number-format: '{b}Edit: {/b}';
	background-image: url('../Images/IMG_note28.png');
}

p.Exception2
{
	border-radius: 7px;
	background-repeat: no-repeat;
	background-position: 4px 4px;
	min-height: 35px;
	mc-printer-page-size: a4;
	mc-auto-number-format: '{b}Exception: {/b}';
	background-image: url('../Images/IMG_note28.png');
	padding-left: 40px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 8px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
}

p.Caution2
{
	border-radius: 7px;
	background-repeat: no-repeat;
	background-position: 4px 4px;
	min-height: 35px;
	mc-printer-page-size: a4;
	padding-left: 40px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 8px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	background-image: url('../Images/IMG_note28.png');
	mc-auto-number-format: '{b}Caution: {/b}';
}

p.Success2
{
	border-radius: 7px;
	background-repeat: no-repeat;
	background-position: 4px 4px;
	min-height: 35px;
	mc-printer-page-size: a4;
	mc-auto-number-format: '{b}Success: {/b}';
	background-image: url('../Images/IMG_note28.png');
	padding-left: 40px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 8px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
}

p.Warning2
{
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	border-radius: 7px;
	padding-right: 40px;
	padding: 3px;
	background-repeat: no-repeat;
	background-position: 4px 4px;
	margin-bottom: 8px;
	padding-bottom: 8px;
	mc-auto-number-format: '{b}Warning: {/b}';
	background-color: #ffe4e1;
	color: #ff0000;
	border: solid 1px #ff0000;
	font-weight: 500;
	padding-left: 40px;
	background-image: url('../Images/IMG_note29.png');
}

span.A
{
	font-size: 36pt;
	color: #4169e1;
}

MadCap|listOfProxy.A
{
	
}

